body {
    background-color: orange;
}

.container1 {
  background-color: grey;
  width: 300px;
  height: 90px;
}


.techlogo {
  width: 80px;
  height: 70px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

h1 {
  color: darkblue;
  font-size: 30px;
  font-family: arial;
  text-align: center;
  margin-bottom: 10px;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: green;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: red;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  font-family: arial;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: blue;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: purple;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: lightcyan;
  color: white;
}

.container2 {
  width: 300px;
  height: 700;
  background-color: lightgreen;
}

.logobrand {
  width: 90px;
  height: 80px;
  border-radius: 5px;
  margin-left: 100px;
}

h2 {
  color: darkblue;
  font-size: 30px;
  font-family: arial;
  margin-left: 50px;
}

p {
  color: purple;
  font-size: 18px;
  margin-left: 50px;
  font-family: arial;
}

.brandservice {
  background-color: white;
  color: green;
  text-transform: uppercase;
  text-decoration: none;
  width: 159px;
  height: 15px;
  display: block;
  text-align: center;
  padding: 1em 1em;
  margin-left: auto;
  font-size: 15px;
  margin-left: 50px;
  border-radius: 15px;
}

.container3 {
  background-color: lightyellow;
  width: 300px;
  height: 1350px;
  border-radius: 7px;
}

h3 {
  color: orange;
  text-decoration: underline;
  text-align: center;
  font-family: arial;
  font-size: 40px;
}

img {
  margin-left: 80px;
  width: 150px;
  height: 150px;
}

h4 {
  color: purple;
  font-size: 30px;
  font-family: Tangerine;
  text-align: center;
  line-height: 2px;
}

h5 {
  color: darkblue;
  font-size: 20px;
  text-align: center;
  font-family: arial;
}

.container4 {
  background-image: linear-gradient(to bottom right, green, yellow);
  width: 300px;
  height: 300px;
}



h6 {
  color: purple;
  text-align: center;
  font-size: 20px;
  font-family: arial;
}

.reviews {
  color: darkblue;
  text-align: center;
  font-size: 20px;
  font-family: Arial black;
  margin-right: 50px;
  margin-top: 30px;
}

.label {
  color: red;
  font-size: 15px;
}

input[type=text] {
  width: 300px;
  height: 50px;
  background-image: linear-gradient(to bottom right, green, yellow);
}

input[type=review] {
  width: 300px;
  height: 200px;
  background-image: linear-gradient(to bottom right, green, yellow);
}

input[type=checkbox] {
  background-color: lightgreen;
  width: 70px;
  height: 30px;
}

input[type=submit] {
  width: 100px;
  background-image: linear-gradient(to bottom right, green, yellow);
  height: 40px;
}

input[type=reset] {
  width: 100px;
  background-image: linear-gradient(to bottom right, green, yellow);
  height: 40px;
}